SCW_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxx
SCW_SECRET_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
SCW_DEFAULT_ORGANIZATION_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
SCW_DEFAULT_PROJECT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
SCW_DEFAULT_REGION=fr-par
EMAIL_FROM=contact@maximederycke.dev
EMAIL_TO=mderycke.pro@gmail.com
ALLOWED_ORIGINS=https://maximederycke.dev